{
  "extends": [
    "@antfu",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "brace-style": [
      "error",
      "1tbs"
    ],
    "prettier/prettier": [
      "error"
    ],
    "max-statements-per-line": ["error", { "max": 3 }]
  }
}
