@import "tokens.scss";

.card {
  padding: 24px;
  background-color: $surface;
  border: 1px solid $border;
  border-radius: 8px;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.05);
  min-width: 256px;
}

.buy-sell {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 200px;
  margin-top: 26px;
  background-color: $surface;
  border: 1px solid $border;
  border-radius: 8px;
  overflow: hidden;

  .separator {
    width: 1px;
    height: 40px;
    background-color: $border;
    margin: 0px;
    z-index: 999;
  }

  button {
    width: 100%;
    justify-content: center;
    background-color: inherit;
    border-radius: none;
    color: $gray600;
  }
  .focus {
    background-color: $gray300;
    border-radius: 0px;
    color: $primary;
  }

  @media only screen and (max-width: 550px) {
    margin-top: 0;
    max-width: none;
    margin-bottom: 16px;

    button {
      height: 48px;
    }
    .separator {
      height: 48px;
    }
  }
}

input {
  width: 100%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: $base-text;
  padding: 10px 16px;
  appearance: none;
  outline: none;
}

// BUTTONS

button {
  height: 40px;
  font-size: 14px;
  line-height: 0px;
  font-weight: 600;
  border-radius: 8px;
  padding: 16px 24px;
  display: flex;
  align-items: center;

  // Button Types
  &.primary {
    font-size: 16px;
    background-color: $gray300;
    color: $primary;
  }
  &.secondary {
    font-size: 16px;
    background-color: inherit;
    color: $base-text;
  }

  &.tertiary {
    font-size: 16px;
    background-color: $surface;
    color: $base-text;
  }

  &:disabled {
    opacity: 0.5;
    color: $gray600;
  }

  &.wallet {
    font-size: 16px;
    font-weight: 700;
    background-color: $surface;
    color: $base-text;

    p {
      margin-right: 16px;
    }
  }

  // Background Color
  &.bg-gray600 {
    background-color: $gray600;
  }
  &.bg-surface {
    background-color: $surface;
  }

  // Text Color
  &.clr-base-text,
  &.clr-base-text p {
    color: $base-text;
  }
  &.clr-primary,
  &.clr-primary p {
    color: $primary;
  }
}
